NEXT_PUBLIC_API_URL=https://api.autovestai.io
NEXT_PUBLIC_WS_URL=https://api.autovestai.io
ADMIN_PATH=control-tower
NEXT_PUBLIC_ADMIN_PATH=control-tower
NEXT_PUBLIC_DEPOSIT_ADDRESS_USDT_TRC20=
NEXT_PUBLIC_DEPOSIT_ADDRESS_USDT_ERC20=
NEXT_PUBLIC_DEPOSIT_ADDRESS_BTC_BTC=
NEXT_PUBLIC_TRADINGVIEW_ASSETS_ENABLED=false
